# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.temp

# MacOS files
.DS_Store

secrets/